body {
    font-family: 'Nosifer', cursive;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

[v-cloak] {
    display: none;
}

#terminal {
    border: 2px solid #FFA500;
    background-color: #1a1a1a;
    color: #FFFFFF;
    width: 0px;
    height: 0px;

    animation-name: start-terminal;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.6, 0.05, 0.39, 0.95);
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
}

h1.title {
    text-align: center;
    color: #FFA500;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bolder;
}
.line p {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    white-space: pre-wrap;
}

#terminal::-webkit-scrollbar {width: 10px;}

#terminal::-webkit-scrollbar-track {background: #1a1a1a;}

#terminal::-webkit-scrollbar-thumb {background: #ff7518;border-radius: 5px;}

#terminal::-webkit-scrollbar-thumb:hover {background: #e65c00;}

/*********** animations ***********/

@keyframes start-terminal {
    0% {
        width: 0px;
        height: 0px;
        padding: 0px;
    }

    40% {
        width: 100%;
        height: 0px;
        padding: 0px 10px;
    }

    60% {/* does nothing */
        width: 100%;
        height: 0px;
        padding: 0px 10px;
    }

    100% {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}